# Maven target folder
/target/

# IDE files
/.idea/
/.vscode/
/*.iml

# Logs
*.log

# Compiled class files
*.class

# Eclipse files
.project
.classpath
.settings/

# Mac OS files
.DS_Store

# Windows files
Thumbs.db

# IntelliJ files
out/

# Others
*.jar
*.war
*.ear

# Package lock files
package-lock.json
yarn.lock