<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Binary Tree App</title>
</head>
<body>
    <h1>Binary Search Tree Builder</h1>
    
    <form th:action="@{/process-numbers}" method="post">
        <label for="numbers">Enter numbers (comma or space separated):</label><br>
        <input type="text" id="numbers" name="numbers" required>
        <br><br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <form th:action="@{/previous-trees}" method="get">
        <button type="submit">Show Previous</button>
    </form>
</body>
</html>
