<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Previous BST Results</title>
</head>
<body>
    <h1>Previous BST Results</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Input Numbers</th>
            <th>In-Order Traversal</th>
        </tr>
        <tr th:each="result : ${previousTrees}">
            <td th:text="${result.id}"></td>
            <td th:text="${result.inputNumbers}"></td>
            <td th:text="${result.inOrderTraversal}"></td>
        </tr>
    </table>
    <br>
    <a th:href="@{/enter-numbers}">Back to Input</a>
</body>
</html>
